@import "core/reset";

.title {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(237, 133, 59);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin-top: 20px;
  border-top: solid rgb(227, 221, 221);

  // border: solid red;
  padding: 5px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    // margin-top: 20px;

    justify-content: center;

    &--filter {
      border: solid blue;
      display: flex;
      gap: 20px;

      &--input {
        height: 20px;
        width: 150px;
      }
      &--select{
        border: solid orange;
        // display: flex;
        // flex-direction: row;
        margin-left: 10px;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &--listItem {
      border: solid rgb(249, 194, 194);
      margin-top: 5px;
      gap: 10px;
      // display: flex;
      // gap: 4px;
    }
  }

  &__form2 {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;

    &--btn {
      background-color: burlywood;
    }
  }
}
.characterName {
  color: coral;
}
